<configuration>
    <property name="TEST_LOG_LEVEL" value="${TEST_LOG_LEVEL:-INFO}" />
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level] [%thread] [%logger{0}] %msg%n</pattern>
        </encoder>
    </appender>
    <root level="${TEST_LOG_LEVEL}">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>